header {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    font-family: Alice, OpenSans;
    background-color:rgb(41 41 39 / 50%);
    text-align: center;
    padding:5px;
    justify-content: space-around;
}

.light-theme {
    color: white;
    font-family: Alice, OpenSans;
    background-image:url(source/Nebo3.png);
    background-attachment: fixed;
    background-size: cover;
}
.dark-theme {
    color: white;
    background: #050325;
    font-family: Alice, OpenSans;
}

.theme-button, .update-button, select  {
    text-decoration: none;
    outline: none;
    display: block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    transition: .5s;
    border-width: 0px;
    cursor: pointer;
}

.update-button:hover, .theme-button:hover, select:hover {
    background-position: right center;
}

.daily-title {
    letter-spacing: 2px;
    text-align: center;
    font-size: 25px;
    outline: none;
    display: block;
    color: white;
     padding: 5px;
    font-family: Alice, OpenSans;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    transition: .5s;
    
   
}

 option {
   color: black;
 }

.city { 
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(source/nebo1.jpg);
    background-size: cover;
}


.weather-week-days {
    display:flex;
    justify-content: space-around;
    max-width: 950px;
}
.weather-week-day-next {
    padding: 10px;
    margin: 10px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 6px;
    white-space: nowrap;
    transition: background-color .5s;
}
.weather-week-day-next:hover {
    background-color: rgba(0,0,0,0.2);
}
.feels-like {
    font-size: 25px;
    background-color:rgb(41 41 39 / 50%);
    padding: 5px;
}
.weather-now {
    font-size: 150px;
}

.temp-get {
    font-size: 30px;
}

.weather-type-now {
    padding-top:15px;
    padding-bottom: 15px;
}

.other-info-now {
    background-color:rgb(41 41 39 / 50%); 
    display: flex;
    padding-top:5px;
    padding-bottom: 5px;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    font-size: 30px;
}

.time {
    margin-top: 15px;
    justify-content: space-around;
    display:flex;
    align-items: center;
    font-size: 30px;
}

.day-info {
    background-color:rgb(41 41 39 / 50%);
    padding: 1px;
    text-align: center;
}

footer {
    background-color: rgba (1,1,1,0.5);
    padding: 20px 0 10px 0;
    text-align: center;
    margin-top: 15px;
}

.dark-theme footer {
    background-color:#111111;
    color: white;
}

.dark-theme .city {
    background-image: url(source/darkSky.jpg);
}

@media (max-width: 768px) {
    .temp-get {
        font-size: 20px;
    }
    .other-info-now {
        font-size: 14px;
    }
    .theme-button, .update-button, select {
        padding: 8px 12px;
        font-size: 10px;
        margin: 4px;
    }
    .time {
        font-size: 16px;
    }
    .weather-week-days {
        overflow: scroll;
        justify-content: flex-start;
    }
}


/* КНОПКА НАВЕРХ */

/* плавная прокрутка */
html {
    scroll-behavior: smooth;
}

.up-button {
    position:fixed;
    bottom: 100px;
    right: 10px;
    z-index: 1;
    width: 80px;
    height: 75px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgba(1,1,1,0.5);
    color: white;
    font-size: 20px; 
    opacity: 0;
    transition: opacity .5s;
    cursor: pointer;
} 

.shown {
    opacity:1;
}

.dark-theme .up-button {
    background-color: #eff6ff94;
    color: #111111;
    font-weight: 600;
}