header {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    font-family: Alice, OpenSans;
    background-color:rgb(41 41 39 / 50%);
    text-align: center;
    padding:5px;
    justify-content: space-around;
}

.light-theme {
    color: white;
    font-family: Alice, OpenSans;
    background-image:url(source/Nebo3.png);
    background-attachment: fixed;
    background-size: cover;
}
.dark-theme {
    color: white;
    background: #050325;
}

.theme-button, .update-button, select  {
    text-decoration: none;
    outline: none;
    display: block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    transition: .5s;
    border-width: 0px;
    cursor: pointer;
}

.update-button:hover, .theme-button:hover, select:hover {
    background-position: right center;
}

 option {
   color: black;
 }


.city { 
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(source/nebo1.jpg);
    background-size: cover;
}


.feels-like {
    font-size: 25px;
    background-color:rgb(41 41 39 / 50%);
    padding: 5px;
}
.weather-now {
    font-size: 150px;
}

.temp-get {
    font-size: 30px;
}

.weather-type-now {
    padding-top:15px;
    padding-bottom: 15px;
}

.other-info-now {
    background-color:rgb(41 41 39 / 50%); 
    display: flex;
    padding-top:5px;
    padding-bottom: 5px;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    font-size: 30px;
}

.time {
    margin-top: 15px;
    justify-content: space-around;
    display:flex;
    align-items: center;
    font-size: 30px;
}

.day-info {
    background-color:rgb(41 41 39 / 50%);
    padding: 1px;
    text-align: center;
}

.footer {
    font-size: 20px;
}

.dark-theme .city {
    background-image: url(source/darkSky.jpg);
}

@media (max-width: 768px) { /* Минимум 512 цветов */
    .temp-get {
        font-size: 20px;
    }
    .other-info-now {
        font-size: 14px;
    }
    .theme-button, .update-button, select {
        padding: 4px 6px;
        font-size: 10px;
        margin: 4px;
    }
    .time {
        font-size: 16px;
    }
}